# Dependency directories
node_modules

# Logs
logs
*.Logs

# Compiled directory and file
build/
bundle.js
*.hot-update.js
*.hot-update.json
client/dist/hot/hot-update.js
client/dist/hot/hot-update.json
client/dist/js/hot/hot-update.js
client/dist/js/hot/hot-update.json

# Note of tests to write in Jest/Mocha/Chai
tests_to_write